<div>
  <span>Enter either a(n):</span>
  <ul>
    <li>Asset code
      <em>
        <small>(Eg: PH-PWS-DIS-CS-00000417, PH-PWS-DIS-CS%)</small>
      </em>
    </li>
    <li>Asset subtype
      <em>
        <small>(Eg: TRFWW, TR%)</small>
      </em>
    </li>
    <li>Feature code
      <em>
        <small>(Eg: WWCPMP, WW%)</small>
      </em>
    </li>
  </ul>

  <!-- <div>
      <select data-dojo-attach-point="selectLayerNode" data-dojo-type="dijit/form/Select" id="selectLayerNode"></select>
  </div>
  <br />

  <br />
  <span>Select a field to search:</span>

  <div>
    <select data-dojo-attach-point="selectFieldNode" data-dojo-type="dijit/form/Select"></select>
  </div>
  <br />
  <br />
  <span>Select features with operator:</span>

  <div>
    <select data-dojo-attach-point="selectOperatorMathMenuNode" data-dojo-type="dijit/form/Select">
      <option value="LIKE" title="Use LIKE for text search">LIKE</option>
      <option value="=" title="Equal To">=</option>
      <option value=">" title="Greater Than">&gt;</option>
      <option value="<" title="Less Than">&lt;</option>
      <option value=">=" title="Greater Than or Equal To">&gt;=</option>
      <option value="<=" title="Less Than or Equal To">&lt;=</option>
    </select>
    <button data-dojo-attach-point="btnAndNode" type="button" data-dojo-type="dijit/form/Button">AND</button>
    <button data-dojo-attach-point="btnOrNode" type="button" data-dojo-type="dijit/form/Button">OR</button>
    <button data-dojo-attach-point="btnNotNode" type="button" data-dojo-type="dijit/form/Button">NOT</button>
  </div>
  <br />
  <br />
  <span>Expression:</span>
  <br />
  <textarea data-dojo-attach-point="myareaExpression" data-dojo-type="dijit/form/SimpleTextarea" rows="5" cols="30"
            style="width:auto;height:auto;"></textarea>

  <br />
  <br />
  <button data-dojo-attach-point="btnAddToQueryNode" type="button" data-dojo-type="dijit/form/Button">&#x2193; Add to Query &#x2193;</button>
  <br /> -->
  <!--final query to execute-->
  <!-- <textarea data-dojo-attach-point="myarea" data-dojo-type="dijit/form/TextBox style="width:auto;height:auto;"></textarea> -->

  <input data-dojo-type="dijit/form/TextBox"  data-dojo-attach-point="myarea" style="width: 325px;" autofocus />

  <br />
  <br />
  <button data-dojo-attach-point="btnSearchNode" type="button" data-dojo-type="dijit/form/Button">Search</button>&nbsp; &nbsp;
  <button data-dojo-attach-point="btnClearGfxNode" type="button" data-dojo-type="dijit/form/Button">Clear Map</button>&nbsp; &nbsp;
  <button data-dojo-attach-point="btnClearQueryBoxNode" type="button" data-dojo-type="dijit/form/Button">Clear Query</button>
</div>